
html, body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100% ;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  ul {
    list-style-position: inside;
}
  
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Navigation Bar */
  header{
    width: 100%;
    /* height: 80vh; */
    background-size: cover;
  }
  .hrstyles{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    color: white;
  }
  .logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    /* padding-top: 60px; */
  }
  .content{
    width: 100%;
    margin: 4em auto;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #fff;
  }
  nav{
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  nav ul{
    list-style: none;
    background: #212121;
    overflow: hidden;
    color: white;
    /* padding-top: 60px; */
    text-align: center;
    margin: 0px;
    transition: 1s;
  }
  nav.black ul {
    background: rgb(61, 61, 61);
    /* height: 50px; */
    color: #000;
  
  }
  nav ul li{
    display: inline-block;
    padding: 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  nav a:hover{
    color: green;
    text-decoration: none;
  }
  .menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  @media(max-width: 1300px){
    .logo{
      position: fixed;
      top: 0;
      width: 50px;
      margin-top: 16px;
    }
    nav ul{
      max-height: 0px;
      background: #000000;
    }
    nav.black ul{
      background: #000000;
    }
    .showing{
      max-height: 20em;
    }
    nav ul li{
      box-sizing: border-box;
      width: 100%;
      padding: 24px 0;
      text-align: center;
    }
    .menu-icon{
      display: block;
    }
  }
  /* End of Navigation */
  /* Start of carousel */
  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .test{
    z-index: -1;
    display: flex;
    align-items: center;
    background: #212121;
    width: 100%;
    height:300px;
    object-fit: cover;
    opacity: 0.9;
    margin-top: 0;
  }
  .imagefleet{
    align-self: auto  ;
  }
  .kite{
      background-color: grey;
  }
  .box{
    padding-top:100px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: 0;
    background-color: rgb(235, 230, 230);

  }
  /* Text and image  */
  .hero-image {
    background-image:url('../img/Final images/pasted image 0.png');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: whitesmoke;
    background-color: red;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: whitesmoke;
    color: red;
  }
  /* End of text and image */
  .imagebox{
      /* background: 
    linear-gradient(
      rgba(83, 83, 83, 0.25), 
      rgba(0, 0, 0, 0.45)
    ); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: pink !important;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 30px; */
  }
  .carousel-indicators{
    z-index: 1;
  }
  /* End of carousel */
  
  /* Start of Service */
  #services{
    padding-top: 10px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .title01{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    text-align: center;
  }
  .title02{
  font-family: 'Lato', sans-serif; 
  font-weight: 600;
  }
  .service-area{
    background-color: transparent;
  }
  .service-single{
    background-color: white;
    border-radius: 20px;
    padding:8px;
    margin-top:7px;
    color: #000;
  }
  .p01{
    font-family: 'Lato', sans-serif; 
    text-align: left;
  }
  .imagecard{
    padding: 0px;
    margin-top: 30px;
  }
  .fa-cog{
    font-size:48px;
    color: #FF5657;
  }
  .readmore1{
    color: black;
    width: 60%;
    margin: 0;
    padding: 7px;
    /* background-color: #6cb44b; */
  }
  @media only screen and (max-width:1300px) {
    /* For mobile phones: */
    .service-single{
      width:100%;
    }
    #services{
      padding-top: 0px;
    }
  }
  /* End of Service */
  /* Start of About */
  #about{
    background-color: #212121;
    color: white;
    padding: 30px;
    padding-top: 100px;
    }
  #more {
    display: none;
  }
  .title03{
    text-align:center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-transform: uppercase;
  }
  #more {display: none;}
  
  #text{
    display:none;
  }
  /* .p02{
  
  } */
  /* End of About */
  
  /* Start of Portfolio */
  #portfolio{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #000;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover
  {
    color:#537a6f;
    text-decoration:none;
    cursor:pointer;
  }
  .title04{
    color:black;
    text-align:center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    text-transform: uppercase;
  }
  .collapsible {
    /* background-color: #777; */
    color: black;
    cursor: pointer;
    padding: 18px;
    padding-bottom: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-style: inherit;
  }
  .paragraph{
    text-align: left;
    margin: 0;
    padding-left: 10px;
    width: 450px;
    color: #000;
  }
  
  .active, .collapsible:hover {
    color: #537a6f;
    border-radius: 10px;
  }
  .content2 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
  }
  .objectif{
    padding-left: 40px;
  }
  .content2 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
  }
  .portfolioimages{
    width: 380px;
    height:200px;
    border-radius: 20px;
  }
  .fix{
    margin: 0px;
    padding-left: 10px;
  }
  @media only screen and (max-width:1024px) {
    /* For mobile phones: */
    .single-post{
      width:100%;
      padding: 0;
      /* border-radius: 5px; */
    }
    .portfolioimages{
      width: 200px;
      height:auto; 
      border-radius: 10px;
      margin: 0;
      padding: 0;
    }
    .objectif{
      padding-left: 10px;
    }
    .collapsible {
      /* background-color: #777; */
      color: black;
      cursor: pointer;
      padding-left: 18px;
      padding-bottom: 0px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 20px;
      font-style: inherit;
    }
    @media(max-width:807px) {
      .portfolioimages{
        width: 150px;
        height:auto; 
        border-radius: 10px;
        margin: 0;
        padding: 0;
      }
    }
    @media(max-width:766px) {
    /* For mobile phones: */
    .single-post{
      width:100%;
      padding: 0;
      /* border-radius: 5px; */
    }
    .portfolioimages{
      width: 80%;
      height:auto; 
      border-radius: 10px;
      margin: 0;
      padding: 0;
    }
    .objectif{
      padding-left: 10px;
    }
    .collapsible {
      /* background-color: #777; */
      color: black;
      cursor: pointer;
      padding-left: 18px;
      padding-bottom: 0px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 30px;
      font-style: inherit;
    }
    }
  }
  /* End of portfolio */
  
  /* Start of Contact */
  #contact{
    background-color: #222222;
    color: white;
    padding-top: 10px;
    }
  /* End of Contact */                        
  
  /* Start of footer */
  .footer{
    margin: 0;
  }
  /* End of footer */
  .p03{
    padding-left: 150px;
    margin-left: 20px;
    padding-top: 10px;
  }